<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        {# Load the tag library #}
        {% load bootstrap3 %}
        {# Load CSS and JavaScript #}
        {% load static %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/leaflet.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>
        <script src="{% static 'js/leaflet-omnivore.min.js' %}"></script>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom-sidebar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom-nav.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-slider.min.css' %}"/>
        <script src="{% static 'js/bootstrap-slider.min.js'%}"></script>
        <style>
            .margin-top-05 {
                margin-top: 0.5em;
            }
            .margin-top-10 {
                margin-top: 1.0em;
            }
            .margin-top-15 {
                margin-top: 1.5em;
            }
            .margin-top-20 {
                margin-top: 2.0em;
            }
            .margin-top-25 {
                margin-top: 2.5em;
            }
            .margin-top-30 {
                margin-top: 3.0em;
            }

            #mapid {
                position: absolute;
                top: 50px;
                bottom: 0;
                left: 0;
                right: 0;
                overflow: hidden;
                z-index: -1;
            }
            #ex1Slider {
                width: 70%;
            }
            body {
                background-image: url("/static/css/bg.png");
                background-repeat: repeat;
            }

        </style>
    </head>

    <body>
        <div id="wrapper" class="active">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/" style="transform: translateX(-50%); left: 50%; position: absolute; font-family: 'Pacifico', cursive; font-size:32px; color:white;">
                            BetterMapper
                        </a>
                        <div class="navbar-brand" id="navbar-search-toggle" style="margin-left:0px;">
                            <a id="menu-toggle" href="#" class="glyphicon glyphicon-search btn-menu toggle">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li id="home">
                                <a href="/">Home</a>
                            </li>
                            {% if not user.is_authenticated %}
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/account/register/">Register</a>
                                        </li>
                                        <li>
                                            <a href="/account/login/">Login</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <li id="listing">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listings
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/listing/create/">Create Listing</a>
                                        </li>
                                        <li>
                                            <a href="/listing/view/">My Listings</a>
                                        </li>
                                        <li>
                                            <a href="/listing/viewAll/">All Listings</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li style="margin-right:10px;">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome
                                        {{ user.first_name }}
                                        {{ user.last_name }}!
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/account/logout/">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <a style="margin-right:10px;" class="btn btn-success navbar-btn" href="/account/login/">Login</a>
                            {% endif %}
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <nav id="spy">
                    <form action="/" method="POST">
                    {% csrf_token %}
                        <ul class="sidebar-nav nav">
                            <li class="sidebar-brand">
                                <a href="#home" id="do_not_click" onfocus="this.blur();">
                                    <span class="fa fa-home solo">Toggle Data</span>
                                </a>
                            </li>
                            <li id="school">
                                <input type="checkbox" name="proximity" class="hidden" id="checkbox_school" value="school"/>
                                <a href="#school" onclick="updateMap(1)">

                                    <!-- <label class="glyphicon glyphicon-book"></label> -->
                                    <img src="/static/icons/school.png"></img>
                                    <span class="fa fa-anchor solo">Schools</span>
                                    <label id="school-toggle" class="glyphicon glyphicon-ok hidden" aria-hidden="true"></label>
                                </a>
                            </li>
                            <li id="clinic">
                                <input type="checkbox" name="proximity" id="checkbox_clinic" class="hidden" value="clinic"/>
                                <a href="#clinic" onclick="updateMap(2)">
                                    <!-- <label class="glyphicon glyphicon-plus-sign"></label> -->
                                    <img src="/static/icons/medical.png"></img>
                                    <span class="fa fa-anchor solo">Clinics</span>
                                    <label id="clinic-toggle" class="glyphicon glyphicon-ok hidden" aria-hidden="true"></label>
                                </a>
                            </li>
                            <li id="park">
                                <input type="checkbox" name="proximity" id="checkbox_park" class="hidden" value="park"/>
                                <a href="#park" id="park-switch" onclick="updateMap(3)">
                                    <!-- <label class="glyphicon glyphicon-tree-deciduous"></label> -->
                                    <img src="/static/icons/park.png"></img>
                                    <span class="fa fa-anchor">Parks</span>
                                    <label id="park-toggle" class="glyphicon glyphicon-ok hidden" aria-hidden="true"></label>
                                </a>
                            </li>
                            <li id="gym">
                                <input type="checkbox" name="proximity" id="checkbox_gym" class="hidden" value="gym"/>
                                <a href="#gym" id="gym-switch" onclick="updateMap(5)">
                                    <!-- <label class="glyphicon glyphicon-tree-deciduous"></label> -->
                                    <img src="/static/icons/gym.png"></img>
                                    <span class="fa fa-anchor">Gyms</span>
                                    <label id="gym-toggle" class="glyphicon glyphicon-ok hidden" aria-hidden="true"></label>
                                </a>
                            </li>
                            <li id="community">
                                <input type="checkbox" name="proximity" id="checkbox_community" class="hidden" value="community"/>
                                <a href="#community" id="community-switch" onclick="updateMap(6)">
                                    <!-- <label class="glyphicon glyphicon-tree-deciduous"></label> -->
                                    <img src="/static/icons/community.png"></img>
                                    <span class="fa fa-anchor">Community Clubs</span>
                                    <label id="community-toggle" class="glyphicon glyphicon-ok hidden" aria-hidden="true"></label>
                                </a>
                            </li>
                            <li id="radius" class="margin-top-30">
                                <a href="#radius" id="radius-switch" onclick="updateMap(4)">
                                    <!-- <label class="glyphicon glyphicon-record"></label> -->
                                    <img src="/static/icons/radius.png"></img>
                                    <span class="fa fa-anchor">Radius</span>
                                    <label id="radius-toggle" class="glyphicon glyphicon-ok hidden" aria-hidden="true"></label>
                                </a>
                            </li>
                            <li>
                                <input id="ex1" data-slider-id='ex1Slider' name="radius" type="text" data-slider-min="0" data-slider-max="2000" data-slider-step="100" data-slider-value="500" data-slider-enabled="false"/>
                            </li>
                            <li id="search">
                                <input type="text" class="form-control hidden" aria-label="search" value="advance_search" placeholder="search" id="id_searchP" maxlength="100" name="search">
                                <a href="#anch3" id="search-switch">
                                    <span class="fa fa-anchor">
                                        <button class="btn btn-primary" type="submit">Advance Search</button>
                                    </span>
                                    <label id="search-toggle" class="glyphicon glyphicon-search hidden" aria-hidden="true"></label>
                                </a>
                            </li>
                        </ul>
                    </form>
                </nav>
            </div>
            <!-- http://bootsnipp.com/snippets/4OZ8R -->
            <!-- Page content -->
            <div id="page-content-wrapper">
                <div class="page-content">
                    <div class="container">
                        {% block content %}{% endblock %}
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>
        </div>
        {% block js %}{% endblock %}
        <script type="text/javascript">
            $('#do_not_click').click(false);
            /*Menu-toggle*/
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("active");
            });
            $('#ex1').slider({
                {% if searchInput %}
                {% if reverse_search %}
                value:{{radius}},
                {%endif%}
                {%endif%}
                formatter: function (value) {
                    $("#ex1").val(value);
                    return 'Radius: ' + value + "m";
                }
            });
            var startPos = $("#ex1").slider("getValue");
            var endPos = '';
            $('#ex1').slider().on('slide', function (slideEvt) {
                endPos = slideEvt.value;
                if (startPos != endPos) {
                    $("#ex1").val(endPos);
                    createRadius();
                }

                startPos = endPos;
            }).data('slider');
            $('#ex1').slider().on('slideStop', function (slideEvt) {
                $("#ex1").val(slideEvt.value);
                createRadius();
                toggleAll();
            }).data('slider');



            {% if searchInput %}
                {% if reverse_search %}
                    $(document).ready(function () {
                        $("#ex1").val({{radius}});
                        {% for check in checkbox %}
                            {%if check == 'school'%}
                                location = "#school";
                                toggle = "#school-toggle";
                                checkBox = "#checkbox_school";
                            {%endif%}
                            {%if check == 'clinic'%}
                                location = "#clinic";
                                toggle = "#clinic-toggle";
                                checkBox = "#checkbox_clinic";
                            {%endif%}
                            {%if check == 'park'%}
                                location = "#park";
                                toggle = "#park-toggle";
                                checkBox = "#checkbox_park";
                            {%endif%}
                            {%if check == 'gym'%}
                                location = "#gym";
                                toggle = "#gym-toggle";
                                checkBox = "#checkbox_gym";
                            {%endif%}
                            {%if check == 'community'%}
                                location = "#community";
                                toggle = "#community-toggle";
                                checkBox = "#checkbox_community";
                            {%endif%}
                            $(location).toggleClass("active");
                            $(toggle).toggleClass("hidden");
                            $(checkBox).prop("checked", !$(checkBox).prop("checked"));
                        {%endfor%}
                        updateMap(4);
                    });
                {%endif%}
            {%endif%}
        </script>
        <script src="{% static 'js/custom-sidebar.js' %}"></script>
        <script src="{% static 'js/bootstrap-slider.js' %}"></script>
    </body>

</html>
