<script type="text/javascript">
    var postalCode;
    var address;
    var lat;
    var long;
    var m;
    var parks;
    var chasClinics;
    var schools;
    var gyms;
    var community;
    var school_array = [];
    var house;
    var houses = [];
    var circles = [];
    var counter = 0;

    // icons from http://www.flaticon.com/ @joe
    var customIcon = L.Icon.extend({
        options: {
            iconSize: [
                32, 32
            ], // size of the icon
            iconAnchor: [
                16, 16
            ], // point of the icon which will correspond to marker's location
            popupAnchor: [0, -16] // point from which the popup should open relative to the iconAnchor
        }
    });
    var houseIcon = new customIcon({iconUrl: '/static/icons/house.png'});
    var medicalIcon = new customIcon({iconUrl: '/static/icons/medical.png'});
    var parkIcon = new customIcon({iconUrl: '/static/icons/park.png'});
    var schoolIcon = new customIcon({iconUrl: '/static/icons/school.png'});
    var gymIcon = new customIcon({iconUrl: '/static/icons/gym.png'});
    var communityIcon = new customIcon({iconUrl: '/static/icons/community.png'});

    southWest = L.latLng(1.135249, 103.546180),
    northEast = L.latLng(1.485653, 104.110689),
    mymap = L.map('mapid', {
        center: [
            1.3521, 103.8198
        ],
        zoom: 12,
        maxBounds: [
            southWest, northEast
        ],
        minZoom: 11
    });

    //mymap = L.map('mapid').setView([1.3521, 103.8198], 11);

    {% for list in location_listing %}
        m = L.marker([
            {{ list.latitude }}, {{ list.longitude }}
        ], {
            icon: houseIcon,
            zIndexOffset: 1000
        });
        var imageScr = '';
        {% for pictures in listing_picture %}
            {% if pictures.listing_id == list.id %}
                imageScr = '<img style="height:200px; width:325px;" src="{{ pictures.image.url }}" />';
            {% endif %}
        {% endfor %}
        imageScr = imageScr + '<p><strong>Address: </strong>{{ list.street}} <strong>Block: </strong>{{ list.block}}</p>';
        imageScr = imageScr + '<p><a href="/listing/view/{{ list.id }}" class="btn btn-default" role="button">View Details</a></p>';

        //Force the width in image
        //console.log(imageScr);
        m.bindPopup(imageScr, {
            maxWidth: "auto",
            minWidth: "400px"
        });
        //markerClusters.addLayer(m); mymap.addLayer(m);
        houses.push(m);
    {% endfor %}
    //console.log(houses);
    $(document).ready(function () {
        L.tileLayer('http://{s}.{base}.maps.cit.api.here.com/maptile/2.1/{type}/{mapID}/{scheme}/{z}/{x}/{y}/{size}/{format}?app_id={app_id}&app_code={app_code}&lg={language}', {
            attribution: 'Map &copy; 2016 <a href="http://developer.here.com">HERE</a>',
            subdomains: '1234',
            base: 'base',
            type: 'maptile',
            scheme: 'pedestrian.day',
            app_id: 'QM5xg3KzHPkhtZsGxE29',
            app_code: 'UE03S_6MOkiOtr6ELXKESw',
            mapID: 'newest',
            maxZoom: 17,
            language: 'eng',
            format: 'png8',
            size: '256'
        }).addTo(mymap);
        mymap.zoomControl.setPosition('bottomright');
        //mymap.addLayer(markerClusters);
        for (i = 0; i < houses.length; i++) {
            mymap.addLayer(houses[i]);
            //console.log(houses[i].getLatLng());
        }
    });

    function createRadius() {
        removeCircles();
        var circle;
        for (i = 0; i < houses.length; i++) {
            mymap.addLayer(houses[i]);
            var curPos = houses[i].getLatLng();
            //console.log(houses[i].getLatLng()); console.log(curPos.lat + " : " + curPos.lng); console.log("radius: "+($('#ex1').val()/2));
            circle = L.circle([
                curPos.lat, curPos.lng
            ], {
                color: '#0D4CFF',
                fillColor: '#00C9FF',
                fillOpacity: 0.5,
                radius: ($('#ex1').val() / 2)
            });
            mymap.addLayer(circle);
            circles.push(circle);
        }

    }
    function toggleAll(){
        console.log("toggle All");
        toggleSchool();
        toggleParks();
        toggleClinic();
        toggleGym();
        toggleCommunity();
    }
    function removeCircles() {
        for (i = 0; i < circles.length; i++) {
            mymap.removeLayer(circles[i]);
        }
        circles = [];
    }
    function addSchools() {
        removeSchool();
        schools = L.markerClusterGroup({removeOutsideVisibleBounds: true});
        omnivore.kml('/static/data/schools.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                marker.setIcon(schoolIcon);
                marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                schools.addLayer(marker);
            })
        });
        mymap.addLayer(schools);
    }

    function doSchoolRadius() {
        removeSchool();
        schools = L.markerClusterGroup({removeOutsideVisibleBounds: true});

        omnivore.kml('/static/data/schools.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                var markerPos = marker.getLatLng();
                var radius = ($('#ex1').val() / 2);
                for (x = 0; x < houses.length; x++) {
                    var housePos = houses[x].getLatLng();
                    if (marker.getLatLng().distanceTo(L.latLng(housePos.lat, housePos.lng)) < radius) {
                        marker.setIcon(schoolIcon);
                        marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                        schools.addLayer(marker);
                        break;
                    }
                }
            })
        });
        mymap.addLayer(schools);
    } //end doSchoolRadius

    function removeSchool() {
        if (mymap.hasLayer(schools)) {
            while (mymap.hasLayer(schools)) {
                var marker = mymap.removeLayer(schools);
            }
        }
    }

    function addClinic() {
        chasClinics = L.markerClusterGroup({removeOutsideVisibleBounds: true});
        chasClinicsKML = omnivore.kml('/static/data/MOH_CHAS_CLINICS.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                marker.setIcon(medicalIcon);
                marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                chasClinics.addLayer(marker);
            })
        });
        console.log(chasClinicsKML);
        mymap.addLayer(chasClinics);
    }

    function doClinicRadius() {
        chasClinics = L.markerClusterGroup({removeOutsideVisibleBounds: true});
        omnivore.kml('/static/data/MOH_CHAS_CLINICS.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                var radius = ($('#ex1').val() / 2);
                var markerPos = marker.getLatLng();
                for (x = 0; x < houses.length; x++) {
                    var housePos = houses[x].getLatLng();
                    if (marker.getLatLng().distanceTo(L.latLng(housePos.lat, housePos.lng)) < radius) {
                        marker.setIcon(medicalIcon);
                        marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                        chasClinics.addLayer(marker);
                        break;
                    }
                }
            })
        });
        mymap.addLayer(chasClinics);
    } //end doClinicRadius

    function removeClinic() {
        if (mymap.hasLayer(chasClinics)) {
            while (mymap.hasLayer(chasClinics)) {
                mymap.removeLayer(chasClinics);
            }
        }
    }

    function addParks() {
        parks = L.markerClusterGroup({removeOutsideVisibleBounds: true});
        omnivore.kml('/static/data/NATIONALPARKS.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                marker.setIcon(parkIcon);
                marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                parks.addLayer(marker);
            })
        });
        mymap.addLayer(parks);
    }
    function doParkRadius() {
        parks = L.markerClusterGroup({removeOutsideVisibleBounds: true});

        omnivore.kml('/static/data/NATIONALPARKS.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                var radius = ($('#ex1').val() / 2);
                var markerPos = marker.getLatLng();
                for (x = 0; x < houses.length; x++) {
                    var housePos = houses[x].getLatLng();
                    if (marker.getLatLng().distanceTo(L.latLng(housePos.lat, housePos.lng)) < radius) {
                        marker.setIcon(parkIcon);
                        marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                        parks.addLayer(marker);
                        break;
                    }
                }
            })
        });
        mymap.addLayer(parks);
    } //end doParkRadius

    function removePark() {
        if (mymap.hasLayer(parks)) {
            while (mymap.hasLayer(parks)) {
                mymap.removeLayer(parks);
            }
        }
    }

    function addGyms() {
        gyms = L.markerClusterGroup({removeOutsideVisibleBounds: true});
        omnivore.kml('/static/data/gyms.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                marker.setIcon(gymIcon);
                marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                gyms.addLayer(marker);
            })
        });
        mymap.addLayer(gyms);
    }

    function doGymRadius() {
        gyms = L.markerClusterGroup({removeOutsideVisibleBounds: true});

        omnivore.kml('/static/data/gyms.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                var radius = ($('#ex1').val() / 2);
                var markerPos = marker.getLatLng();
                for (x = 0; x < houses.length; x++) {
                    var housePos = houses[x].getLatLng();
                    if (marker.getLatLng().distanceTo(L.latLng(housePos.lat, housePos.lng)) < radius) {
                        marker.setIcon(gymIcon);
                        marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                        gyms.addLayer(marker);
                        break;
                    }
                }
            })
        });
        mymap.addLayer(gyms);
    } //end doParkRadius

    function removeGym() {
        if (mymap.hasLayer(gyms)) {
            while (mymap.hasLayer(gyms)) {
                mymap.removeLayer(gyms);
            }
        }
    }

    function addCommunity() {
        community = L.markerClusterGroup({removeOutsideVisibleBounds: true});
        omnivore.kml('/static/data/COMMUNITYCLUBS.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                marker.setIcon(communityIcon);
                marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                community.addLayer(marker);
            })
        });
        mymap.addLayer(community);
    }

    function doCommunityRadius() {
        community = L.markerClusterGroup({removeOutsideVisibleBounds: true});

        omnivore.kml('/static/data/COMMUNITYCLUBS.kml').on('ready', function () {
            this.eachLayer(function (marker) {
                var radius = ($('#ex1').val() / 2);
                var markerPos = marker.getLatLng();
                for (x = 0; x < houses.length; x++) {
                    var housePos = houses[x].getLatLng();
                    if (marker.getLatLng().distanceTo(L.latLng(housePos.lat, housePos.lng)) < radius) {
                        marker.setIcon(communityIcon);
                        marker.bindPopup(marker.toGeoJSON().properties.name.toUpperCase());
                        community.addLayer(marker);
                        break;
                    }
                }
            })
        });
        mymap.addLayer(community);
    } //end doParkRadius

    function removeCommunity() {
        if (mymap.hasLayer(community)) {
            while (mymap.hasLayer(community)) {
                mymap.removeLayer(community);
            }
        }
    }
    function toggleParks() {
        removePark();
        if ($("#checkbox_park").prop("checked")) {
            if ($('#radius-toggle').hasClass('hidden')) {
                addParks();
            } else {
                doParkRadius();
            }
        }
    }
    function toggleClinic() {
        removeClinic();
        if ($("#checkbox_clinic").prop("checked")) {
            if ($('#radius-toggle').hasClass('hidden')) {
                addClinic();
            } else {
                doClinicRadius();
            }
        }
    }
    function toggleSchool() {
        removeSchool();
        if ($("#checkbox_school").prop("checked")) {
            if ($('#radius-toggle').hasClass('hidden')) {
                addSchools();
            } else {
                doSchoolRadius();
            }
        }
    }
    function toggleGym() {
        removeGym();
        if ($("#checkbox_gym").prop("checked")) {
            if ($('#radius-toggle').hasClass('hidden')) {
                addGyms();
            } else {
                doGymRadius();
            }
        }
    }
    function toggleCommunity() {
        removeCommunity();
        if ($("#checkbox_community").prop("checked")) {
            if ($('#radius-toggle').hasClass('hidden')) {
                addCommunity();
            } else {
                doCommunityRadius();
            }
        }
    }
</script>
